.home__create {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-left: 0.5rem;
  margin-bottom: 8vh;

  font-size: 1.5rem;
  letter-spacing: 0.025rem;

  cursor: pointer;
}

.lists__display {
  display: flex;
  flex-wrap: wrap;

  width: 70%;

  row-gap: 2rem;
  column-gap: 2rem;

  margin-top: 2rem;
  margin-left: 0.5rem;
}

.list__box {
  min-width: 280px;
  max-width: 280px;
  height: 140px;

  padding: 1.5rem;

  background-color: #2e3756;
  border-radius: 5px;

  cursor: pointer;

  h3 {
    font-weight: 700;
  }

  p {
    font-weight: 200;
    color: #969ab0;
  }

  &:hover {
    background-color: #2e3756cc;
    border-bottom: 5px solid white;
  }
}
