@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Color variables */

:root {
  --dark-blue: #0a082d;

  --light-blue-1: #2e3756;
  --light-blue-2: #2e3756cc;
  --light-blue-3: #3d4870;

  --greenish-blue-1: #3bcfd0;
  --greenish-blue-2: #39c1c1;

  --main-yellow: #fecd1f;
  --main-white: #dadde5;

  --dark-grey: #282e3e;
  --light-grey: #bbbdc9;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  background-color: var(--dark-blue);
  font-family: "Roboto", "Press Start 2P", sans-serif;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* #2e3756 */
